{% extends "base.html" %}

{% block body_contents %}

{% if profile_image %}
<img src="{{ profile_image }}">
{% endif %}

<div class="unswtalk_user_details">
	{% for detail in public_student_details %}
		{{detail}}
	{% endfor %}
</div>

{% if profile_image %}
	{% for post in posts %}
	<div class="unswtalk_user_details">
		{{ post[0] }}
	</div>
	{% endfor %}
{% endif %}
<form method="POST" action="">
    <input type="hidden" name="n" value="7">
    <input type="submit" value="Next student" class="unswtalk_button">
</form>
{% endblock %}
